@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    margin: 0%;
    padding: 0%;
}

#fileUploadArea,
#loadingArea,
#wrongPasswordArea {
    display: none;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #1E0354;
}

.container {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.loader {
    position: relative;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.loader::before,
.loader:after {
    content: "";
    position: absolute;
    border-radius: inherit;
}

.loader:before {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(0deg, #ff00cc 0%, #333399 100%);
    animation: spin8932 .5s infinite linear;
}

.loader:after {
    width: 85%;
    height: 85%;
    background-image: url("../images/favicon.png");
    background-size: cover;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes spin8932 {
    to {
        transform: rotate(360deg);
    }
}

.loadingArea .text {
    margin-top: 4%;
    text-align: center;
    font-weight: bold;
    color: white;
}

.formArea {
    background-color: rgba(255, 255, 255, 0.2);
    width: 40%;
    border-radius: 15px;
}

.formArea .heading {
    width: 100%;
    text-align: center;
    padding-top: 10%;
    padding-bottom: 2%;
    font-size: 300%;
    font-weight: bold;
    color: white;
}

.formArea .inputArea {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 2%;
}

.formArea .inputArea .label {
    width: 40%;
    text-align: right;
    margin-right: 10%;
    font-size: 150%;
    color: white;
}

.formArea .inputArea .inputs {
    width: 49%;
    margin-left: 1%;
}

.formArea .inputArea .inputs input {
    border: none;
    background-color: transparent;
    border-bottom: 1px solid white;
    width: 90%;
    font-size: 150%;
    outline: none;
    color: white;
}

.formArea .buttonArea {
    display: flex;
    justify-content: center;
    padding-bottom: 10%;
    padding-top: 2%;
}

.formArea .buttonArea button {
    font-size: 150%;
    color: white;
    background-color: #008037;
    width: 20%;
    padding-top: 1%;
    padding-bottom: 1%;
    border: none;
    border-radius: 5px;
}

.formArea .buttonArea button:hover {
    background-color: #00421d;
}

.fileUploadArea {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.fileUploadArea .left {
    width: 60%;
}

.fileUploadArea .left .buttonArea {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 10%;
}

.fileUploadArea .left .buttonArea button {
    font-size: 150%;
    color: white;
    background-color: #008037;
    width: 20%;
    padding-top: 1%;
    padding-bottom: 1%;
    border: none;
    border-radius: 5px;
}

.fileUploadArea .left .buttonArea button:hover{
    background-color: #00421d;
}

.fileUploadArea .left .uploadedImage {
    width: 100%;
    padding-top: 5%;
}

.fileUploadArea .left .uploadedImage .imageArea {
    width: 80%;
    margin-left: 10%;
}

.fileUploadArea .left .uploadedImage .imageArea img {
    width: 100%;
}

.fileUploadArea .right {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fileUploadArea .right .formArea {
    width: 70%;
}

.fileUploadArea .right .formArea .buttonArea button {
    width: 30%;
}